.right {
  flex: 1;
  padding: 16px;
}

.right-cards {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.right-card {
  width: 32%;
  box-shadow: 3px 1px 2px 2px #ccc;
}